
.header
	background-color: $gold
	padding-right: 15px
	padding-left: 15px
	&__top-nav
		padding-top: 40px
		padding-bottom: 63px
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		padding-right: 95px
	&__phone
		@include phone

	&__main-content
		position: relative
		z-index: 2
		.header-main
			&__title-block
				padding-bottom: 50px
			&__title
				@include mainTitle
				padding-bottom: 15px
			&__title-span
				display: block
			&__subtitle
				@include title
			&__button-block
				max-width: 546px
				padding-bottom: 83px
			&__button
				position: relative
				@include buttonText
				background-color: $redOrange
				display: inline-block
				padding: 16px 95px
				text-align: center
				outline: none
				border: none
				transition: all 0.3s 
				cursor: pointer
				margin-right: 12px
				margin-bottom: 76px
				&:after
					content: ""
					position: absolute
					left: $borderW*5
					top: $borderW*5
					width: 100%
					height: 100%
					border: $borderW solid $concrete
					transition: all 0.3s 
					z-index: -1
				&:hover
					color: $concrete
					background: $redOrangeAccent
					&:after
						transition: all 0.3s
						left: 0
						top: 0
						z-index: -1
			&__advantages
				display: flex
				justify-content: space-between
				align-items: center
			&__advantages-block
				display: flex
				flex-direction: row-reverse
				align-items: center
				justify-content: center
			&__advantages-text
				@include text
			&__advantages-block
				position: relative
			&__advantages-img
				padding-right: 10px

			&__image
				position: absolute
				left: 47%
				bottom: 0
				z-index: -1
			&__worker-img
				position: relative
				max-width: 381px
				height: auto
			&__car-img
				position: absolute
				max-width: 499px
				top: 21%
				left: 78%
				z-index: -1
			&__phone
				position: absolute
				right: 35px
				bottom: 58px
				.phone-main
					&__pulse, &__block, &__phone
						position: absolute
						width: 100px
						height: 100px
						color: #fff
						text-align: center
						border-radius: 50%

					&__block
						cursor: pointer
						z-index: 1
						overflow: hidden

					&__pulse
						background: #5CC2E2
						position: relative
						transition: .5s

					&__phone
						font-size: 50px
						line-height: 94px
						animation: phone .9s ease-in-out infinite

					&__text
						position: absolute
						opacity: 0
						text-transform: uppercase
						font-weight: 700
						top: 28px
						font-size: 15px
						transform: scaleX(-1)
						transition: .5s ease-in-out

					&__phone
						img
							transition: .5s ease-in-out

					&__pulse:hover
						background: #29AEE3

					&__pulse:hover
						img
							transition: .5s ease-in-out
							transform: scale(0)

					&__pulse:hover
						.phone-main__text
							transform: scaleX(1)
							transition: .5s ease-in-out
							opacity: 1

					&__pulse:hover::before,
					&__pulse:hover::after
						content: ''
						position: absolute
						border: 1px solid #29AEE3
						left: -20px
						right: -20px
						top: -20px
						bottom: -20px
						border-radius: 50%
						animation: pulse 1.8s linear infinite
						opacity: 0
					&__pulse:hover::after
						animation-delay: .5s
					@keyframes phone
						0%, 100%
							transform: rotate(-20deg)

						50%
							transform: rotate(21deg)

					@keyframes pulse
						0%
							transform: scale(0.5)
							opacity: 0

						50%
							opacity: 1

						100%
							transform: scale(1.2)
							opacity: 0
.top-menu
	&__item
		@include menu
		padding-right: 46px
		&:last-child
			padding-right: 0
	&__link
		position: relative
		&:focus
			color: $redOrange
		&::after
			display: block
			position: absolute
			left: 0 
			width: 0
			height: 2px 
			background-color: $redOrange
			content: ""
			transition: width 0.3s ease-out 
		&:hover:after
			width: 100% 
		&:focus:after 
			width: 100% 
.menu-btn
	display: none
	background-color: transparent 
	border: none
	cursor: pointer
	padding: 0
	z-index: 999
	margin: 0
.menu-btn__line 
  fill: none
  stroke: #000
  stroke-width: 4
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1)

.menu-btn--first-line
  stroke-dasharray: 60 207
  stroke-width: 4

.menu-btn--second-line
  stroke-dasharray: 60 60
  stroke-width: 4

.menu-btn--third-line
  stroke-dasharray: 60 207
  stroke-width: 4

.menu-btn.active .menu-btn--first-line
  stroke-dasharray: 90 207
  stroke-dashoffset: -134
  stroke-width: 4

.menu-btn.active .menu-btn--second-line
  stroke-dasharray: 1 60
  stroke-dashoffset: -30
  stroke-width: 4

.menu-btn.active .menu-btn--third-line
  stroke-dasharray: 90 207
  stroke-dashoffset: -134
  stroke-width: 4

.header__menu-overlay 
	z-index: 998
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0px
	background-color: rgba(#000, .8)
	opacity: 0
	visibility: hidden
	transition: all .5s

.top-menu--mobile
	display: none
	transform: translateX(300px)

.logo
	width: 115px
	height: 37px
	display: flex
	align-items: center

@media screen and ( max-width: 1132px )
	.header
		&__main-content
			.header-main
				&__advantages-block
					flex-direction: column-reverse
				&__advantages-text
					text-align: center
				&__advantages-img
					padding-right: 0
					padding-bottom: 10px
				&__button-block
					padding-bottom: 32px
					max-width: 455px


@media screen and ( max-width: 1080px )
	.header
		&__menu
			.top-menu
				&__item
					padding-right: 30px
		&__logo
			padding-right: 0
		&__main-content
			.header-main
				&__phone
					bottom: 363px

@media screen and ( max-width: 930px )
	.header__top-nav
		padding-top: 24px
		padding-bottom: 46px
	.header__main-content .header-main__phone
		// display: none
		bottom: 310px
	.header__main-content .header-main__title
		font-size: 55px
		line-height: 58px
	.header__main-content .header-main__advantages
		justify-content: flex-start
	.header__main-content .header-main__advantages-block
		margin-right: 40px
	.header__main-content .header-main__advantages-text
		font-size: 14px
		line-height: 18px
	.header__main-content .header-main__image
		left: 51%
	.header__main-content .header-main__worker-img
		max-width: 332px
	.header__main-content .header-main__button
		font-size: 22px
		line-height: 26px
		padding: 14px 90px
	.header__menu-overlay.active
		opacity: 1
		visibility: visible
	.menu-btn.active
		.menu-btn__line
			stroke: #fff
	.top-menu
		display: none
	.top-menu--mobile
		display: block
		position: fixed
		width: 250px
		z-index: 999
		right: 0
		overflow-y: auto
		bottom: 0
		transition: all .5s
		padding: 60px 0
		height: 100%
		background-color: rgb(51, 51, 51)
		&.active
			transform: translateX(0px)
	.top-menu__list--mobile
		display: block
		width: 100% 
		margin: 0
		padding-left: 20px
	.menu-btn
		display: flex
		transition: all .5s
	.menu-btn.active
		transform: translate(-240px, 0)
	.top-menu__item--mobile
		display: block 
		width: 100%
		text-transform: uppercase
		font-size: 20px !important
		line-height: 26px !important
		padding-right: 0 !important
	.top-menu__link
		display: block 
		color: #fff
		padding: 10px 0
		&::after
			display: none !important

@media screen and ( max-width: 810px )
	.header__main-content .header-main__phone
		display: none
	.header__main-content .header-main__image
		left: 52%
@media screen and ( max-width: 700px )
	.header
		&__phone
			position: absolute
			right: 90px
		.header-main__car-img
			display: none
		&__main-content
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.header-main
				&__title-block
					text-align: center
					padding-bottom: 25px
				&__title
					font-size: 55px
					line-height: 64px
				&__phone
					display: none
				&__image
					position: relative
					padding-left: 48px
					left: 0
					bottom: 0
					text-align: center
				&__advantages
					justify-content: space-around
				&__advantages-block
					margin-right: 0
				&__button-block
					text-align: center
					max-width: 455px
					min-width: 455px
				&__worker-img
					max-width: 310px
				&__button
					margin-bottom: 35px
					&::after
						display: none
@media screen and ( max-width: 490px )
	.top-menu__item
		font-size: 18px !important
		line-height: 22px !important
	.header
		&__phone
			right: auto
			left: 15px
			top: 75px
		&__main-content
			.header-main
				&__title-block
				&__title
					font-size: 48px
					line-height: 50px
				&__subtitle
					font-size: 24px
				&__worker-img
					max-width: 284px
				&__button-block
					min-width: 380px

@media screen and ( max-width: 420px )
	.header
		&__logo 
			img
				width: 80%
		&__phone
			font-size: 21px
			top: 52px
		&__top-nav
			align-items: flex-start
			padding-top: 15px
			padding-bottom: 30px
		&__main-content
			.header-main
				&__title
					font-size: 42px
					line-height: 43px
					padding-bottom: 10px
				&__subtitle
					font-size: 22px
				&__advantages
					display: none
				&__button
					margin-right: 0
					margin: 0

@media screen and ( max-width: 390px )
	.header
		&__phone
			display: none
		&__top-nav
			padding-bottom: 30px
		&__main-content
			.header-main
				&__advantages
					display: none
				&__button
					margin: 0
				&__button-block
					min-width: 320px

@media screen and ( max-width: 360px )
	.header
		&__top-nav
			padding-bottom: 10px
		&__main-content
			.header-main
				&__title-block
					padding-bottom: 10px
				&__title
					font-size: 28px
					line-height: 30px
				&__subtitle
					font-size: 18px
					line-height: 20px
				&__worker-img
					max-width: 240px
				&__button
					max-width: 100%

@media screen and ( max-width: 360px )
	.menu-btn
		svg
			height: 34px
	.header
		&__logo 
			img
				width: 60%
		&__main-content
			.header-main


