.howItWorks
	padding-right: 15px
	padding-left: 15px
	&__wrap
		max-width: 1106px
		margin: 0 auto
	&__title
		text-align: center
		@include title
		padding-top: 95px
		padding-bottom: 60px
.howItWorks-main
	display: flex
	flex-direction: column
	counter-reset: counter
	justify-content: center
	&__row
		display: flex
		justify-content: space-between
		align-items: flex-start
		margin-bottom: 50px
		&:last-child
			margin-bottom: 0
	&__box
		padding-left: 104px
		max-width: 494px
		position: relative
		&::before
			position: absolute
			content: '0' counter(counter)
			counter-increment: counter
			left: 0
			top: -8px
			@include number					
	&__title
		@include subtitle
		padding-bottom: 15px
	&__text
		@include text


@media screen and ( max-width: 1040px )
	.howItWorks
		&__title
			padding-top: 50px
			padding-bottom: 50px
	.howItWorks-main
		&__box
			padding-left: 84px
			max-width: 494px
			position: relative
			padding-bottom: 60px
		&__row
			flex-direction: column
			align-items: center
			margin-bottom: 0px

@media screen and ( max-width: 520px )
	.howItWorks-main__title-hiddenmobile
		display: none
	.howItWorks
		margin-bottom: 40px
		&__title
			padding-top: 40px
			padding-bottom: 40px
	.howItWorks-main
		margin-left: 40px
		align-items: center
		&__row
			max-width: 377px
			align-items: flex-start
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
		&__box
			display: flex
			align-items: center
			justify-content: flex-start
			height: 60px
			padding-bottom: 0
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
			&::before
				top: 0
		&__title
			padding-bottom: 0
			font-size: 16px
			line-height: 20px
		&__text
			display: none

@media screen and ( max-width: 490px )
	.howItWorks-main
		margin-left: 20px
		&__row
		&__box
			max-width: 288px
			&::before

@media screen and ( max-width: 360px )
	.howItWorks
		&__title
			padding-top: 40px
			padding-bottom: 40px
	.howItWorks-main
		margin-left: 30px
		&__box
			max-width: 288px
			&::before