.map
	position: relative
	.container
		max-width: 100%
		margin: auto
	&__block
		height: 666px
		padding: 0
	&__contacts
		background-color: $white
		position: absolute
		left: 20%
		top: 50%
		transform: translateY(-50%)
		z-index: 1
.contacts-block
	width: 368px
	height: 326px
	padding-left: 35px
	padding-top: 40px
	padding-right: 40px
	padding-bottom: 40px
	&__logo
		padding-bottom: 40px
	&__item
		position: relative
		@include text
		padding-left: 25px
		display: block
		padding-bottom: 19px
		&::before
			position: absolute
			content: ''
			background-image: url(../images/dest/map/checkicon_map.svg)
			left: 0px
			top: 3px
			display: block
			width: 14px
			height: 15px					
		&:last-child
			padding-bottom: 54px
	&__mail
		border-bottom: 1px solid $mineShaft
		&:hover
			transition: all 0.3s ease-out 
			border-bottom: 1px solid $redOrange
	&__list-social
		display: block
		padding: 0
		margin: 0
		text-align: right
	&__item-social
		@include text
		margin-right: 25px
		&:hover
			.changeColor
				transition: all 0.3s ease-out 
				fill: $redOrange
		&:last-child
			margin-right: 0

@media screen and ( max-width: 1385px )
	.map
		&__contacts
			top: 10%
			left: 10%
			transform: translateY(0)
		&__block
			height: 560px
	.contacts-block
		width: 344px
		height: 282px
		padding-left: 30px
		padding-top: 30px
		padding-right: 30px
		padding-bottom: 30px
		&__item
			&:last-child
				padding-bottom: 34px

@media screen and ( max-width: 890px )
	.map
		&__contacts
			display: flex
			flex-direction: column
			align-items: center
			position: static
			width: 100%
			height: 100%
			min-width: 200px
			min-height: 50px
			padding-left: 0px
			padding-top: 20px
			padding-right: 0px
			padding-bottom: 20px
		&__block
			height: 524px
	.contacts-block
		&__logo
			display: none
			padding-bottom: 0px
		&__list
		&__item
			position: relative
			@include text
			padding-left: 0px
			display: block
			padding-bottom: 19px
			&::before
				display: none				
			&:last-child
				padding-bottom: 0px
			&:first-child
				padding-top: 19px
		&__mail
			border-bottom: 1px solid $mineShaft
			&:hover
				border-bottom: 1px solid $redOrange
		&__list-social
			display: none
			padding: 0
			margin: 0
			text-align: right
		&__item-social
			margin-right: 25px
			&:hover
				.changeColor
					transition: all 0.3s ease-out 
					fill: $redOrange
			&:last-child
				margin-right: 0
