.order
	padding-right: 15px
	padding-left: 15px
	background-color: $white
	position: sticky
	&__wrap
		max-width: 1002px
		margin: 0 auto
		min-width: 300px
		padding-top: 124px
		padding-bottom: 124px
	&__title
		@include title
		text-align: left
		padding-bottom: 10px
	&__subtitle
		@include text
		text-align: left
		padding-bottom: 47px
	&__form
		display: flex
		.form-order
			&__contacts
			&__name
				padding-top: 10px
				padding-bottom: 10px
				width: 300px
				border: none
				opacity: 1
				margin-right: 72px
				border-bottom: 1px solid $mineShaft
				&::placeholder
					@include subtitle
					opacity: .7
			&__phone
				padding-top: 10px
				padding-bottom: 10px
				width: 300px
				margin-right: 72px
				border: none
				opacity: 1
				border-bottom: 1px solid $mineShaft
				&::placeholder
					@include subtitle
					opacity: .7
			&__button-block
				display: flex
				flex-direction: column
			&__button-submit
				@include subtitle
				padding: 13px 31px
				border: none
				outline: none
				background-color: $redOrange
				text-align: center
				color: $concrete
			&__submit-wrap
				margin-bottom: 0
			&__button-wrap
				position: relative
				display: inline-block
				transition: color 0.5s
				cursor: pointer
				margin-bottom: 21px
				&:after
					content: ""
					position: absolute
					left: $borderWSubmit*10
					top: $borderWSubmit*10
					width: 100%
					height: 100%
					border: $borderWSubmit solid $gold
					transition: all 0.3s 0.2s
					z-index: -1
				&:hover
					color: $concrete
					&:after
						transition: all 0.3s
						left: 0
						top: 0
						z-index: 0
			&__checkbox-wrap
				display: flex
				align-items: center
				margin-bottom: 0
			&__checkbox
				width: 15px 
				height: 15px
				display: none
				z-index: 1
			&__checkbox-text
				font-family: $montserrat
				font-weight: 400
				display: inline
				min-width: 228.7px
				font-size: 12px
				line-height: 15px
				left: 64.4%
				top: 0
				margin-left: 10px
				opacity: 1
				text-align: center
				letter-spacing: 0.015em
				color: $mineShaft
				&:hover
					cursor: pointer
			&__fake
				display: inline-block
				width: 15px
				height: 15px
				border: 2px solid $mineShaft
				position: relative
				z-index: 0
				&::before
					content: ""
					position: absolute
					display: block
					width: 11px
					height: 11px
					background: url(../images/dest/order/check.svg) no-repeat center center
					left: 53%
					top: 49%
					cursor: pointer
					transform: translate(-50%, -50%)
					opacity: 0
					transition: .2s
			&__checkbox:checked + .form-order__fake::before
				opacity: 1

@media screen and ( max-width: 1050px )
	.order
		&__title
			text-align: center
		&__subtitle
			text-align: center
		&__wrap
			padding-top: 70px
			padding-bottom: 70px
		&__form
			justify-content: center
			.form-order
				&__contacts
					display: flex
					flex-direction: column
					margin-top: -9px
				&__phone
					// margin-top: 20px
				&__button-wrap
					&::after
						display: none

@media screen and ( max-width: 660px )
	.order
		&__form
			flex-direction: column
			align-items: center
			.form-order
				&__phone
					margin-right: 0
					margin-bottom: 60px
				&__name
					margin-right: 0
				&__button-submit
					width: 300px

@media screen and ( max-width: 350px )
	.order
		&__subtitle
			font-size: 15px