
.reviews
	padding-top: 100px
	padding-bottom: 94px
	padding-right: 5px
	padding-left: 5px
	background-color: $gold
	&__title
		@include title
		text-align: center
		margin-bottom: 60px
	&__box-wrap
		display: flex
		justify-content: center
		flex-wrap: wrap
		margin-bottom: 30px
	&__box
		flex-basis: 31%
		max-width: 423px
		margin-bottom: 30px
		margin-left: 10px
		margin-right: 10px
	&__allreviews-wrap
		margin: 0 auto
		text-align: center
	&__allreviews
		@include subtitle
		display: inline-block
		border: 1px solid $mineShaft
		padding: 13px 64px
		background-color: $gold
		transition: all 0.5s 
		&:hover
			transition: all 0.5s 
			color: $redOrange
			border: 1px solid $redOrange

.reviews-box
	max-width: 422px
	&__author
		@include undertitle
		margin-bottom: 10px
	&__author-info
		display: flex
		align-items: center
		margin-bottom: 20px
	&__author-date
		@include text
		margin-right: 10px
		padding-top: 2px
	&__text
		position: relative
	&__par
		@include text
		margin-bottom: 18px
		max-width: 420px
		min-width: 400px
		min-height: 147px
	&__btn-readall
		@include text
		background-color: transparent
		padding: 0
		border: none
		line-height: 15px
		border-bottom: 1px solid $mineShaft
		transition: all 0.5s 
		&:hover
			color: $redOrange
			border-bottom: 1px solid $redOrange
.rating
	display: inline-flex
	flex-direction: row-reverse
	font-size: 21px
	line-height: 1
	height: 100%
	color: #fff
	&__item
		width: 16px
.rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating[data-total-value="5"] .rating__item:nth-child(n + 1)
	color: $redOrange

@media screen and ( max-width: 1300px )
	.reviews
		&__box--first
			display: none
@media screen and ( max-width: 875px )
	.reviews
		padding-top: 60px
		padding-bottom: 60px
		&__title 
			margin-bottom: 50px
		&__box-wrap
			margin-bottom: 15px
		margin-right: 0
		&__box--third
			display: none
@media screen and ( max-width: 460px )
	.reviews
		padding-top: 40px
		padding-bottom: 50px
		&__title 
			margin-bottom: 40px
		&__allreviews-wrap
			width: 300px
		&__allreviews
			width: 100%
	.reviews-box
		&__par
			min-width: 300px
// 	&__main
// 		display: flex
// 		justify-content: center
// 		padding-bottom: 59px
// 	.reviews-block
// 		max-width: 420px
// 		margin-right: 20px
// 		&--3
// 			margin-right: 0
// 		&__name
// 			@include undertitle
// 			padding-bottom: 10px
// 		&__date
// 			@include text
// 			position: relative
// 			padding-bottom: 20px
// 			&::after
// 				position: absolute
// 				content: ''
// 				top: 2px
// 				display: inline
// 				background-image: url(../images/dest/reviews/stars.svg)
// 				width: 78px
// 				height: 15px
// 				margin-left: 10px
// 		&__text
// 			@include text
// 			max-width: 410px
// 		&__readMore
// 			display: none
// 		&__readMoreButton
// 			@include text
// 			display: inline-block
// 			line-height: 15px
// 			padding-top: 18px
// 			border-bottom: 1px solid $mineShaft
// 			cursor: pointer
// 			transition: all 0.3s 
// 			&:hover
// 				color: $redOrange
// 				border-bottom: 1px solid $redOrange
// 	&__readAll-wrap
// 		text-align: center
// 		padding-bottom: 94px
// 	&__readAll
// 		@include subtitle
// 		border: 1px solid $mineShaft
// 		padding: 13px 64px
// 		background-color: $gold
// 		transition: all 0.3s 
// 		&:hover
// 			transition: all 0.3s 
// 			color: $redOrange
// 			border: 1px solid $redOrange
// 		&:focus
// 			outline: none
// 		// &:active
// 		// 	color: transparent

// @media screen and ( max-width: 1070px )
// 	.reviews
// 		&__title
// 			padding-top: 80px
// 			padding-bottom: 40px
// 		&__main
// 			padding-bottom: 50px
// 		&__readAll-wrap
// 			padding-bottom: 50px
// 		.reviews-block
// 			&--3
// 				display: none
// 			&--2
// 				margin-right: 0

// @media screen and ( max-width: 850px )
// 	.reviews
// 		&__title
// 			padding-top: 50px
// 			padding-bottom: 30px
// 		&__main
// 			padding-bottom: 40px
// 		&__readAll-wrap
// 			padding-bottom: 50px
// 		.reviews-block
// 			&--1
// 				margin-right: 0
// 			&--3, &--2
// 				display: none
// 		&__readAll
// 			width: 292px
// 			padding-top: 18px
// 			padding-bottom: 18px	