#scroll-to-top
	display: none
	background-color: $mineShaft
	padding: 10px 16px
	color: $white
	text-align: center
	text-decoration: none
	border-radius: 7px 7px 0 0
	position: fixed
	bottom: 0px
	right: 10px
	opacity: 0.6
	z-index: 1000
	&:hover
		opacity: .9
		transition: opacity 0.5s
		cursor: pointer


@media screen and ( max-width:  991px)
	#scroll-to-top
		padding: 7px 13px