@import config
@import header
@import adaptive_menu
@import howItWorks
@import price
@import carPark
@import slider
@import reviews
@import order
@import map
@import footer
@import allReviews
// CUSTOM USER STYLES & IMPORTS

#scroll-to-top
	display: none
	background-color: $mineShaft
	// padding: 13px 10px 35px
	color: $white
	height: 9px
	text-align: center
	text-decoration: none
	min-width: 49px
	text-align: center
	border-radius: 7px 7px 0 0
	position: fixed
	bottom: 0px
	right: 10px
	opacity: 0.6
	z-index: 1000
	// transition: opacity 0.3s
	&:hover
		opacity: .9
		transition: opacity 0.5s
		cursor: pointer

@media screen and ( max-width:  991px)
	#scroll-to-top
		min-width: 20px
		min-height: 10px
		// height: 2px
		// padding: 0px 0px 35px
	
	// &::after
	// 	content: ""
	// 	// font-family: FontAwesome
	// 	// font-weight: normal
	// 	// font-style: normal
	// 	// font-size: 2em
	// 	line-height: 50px
	// 	color: #fff

