@import config
@import header
@import howItWorks
@import price
@import carPark
@import slider
@import reviews
@import order
@import map
@import footer
@import scrollToTop
@import form
@import order-form-animation
@import thanks
// CUSTOM USER STYLES & IMPORTS

.inline-popups
	display: flex

.tabs-content 
		display: none
		&--active 
			display: flex
.tabs-content
	opacity: 0
	transform: translateY(15px)
	animation: fadeIn 1s ease 1 forwards

.wrapper
	width: 100%
	min-height: 100%
	overflow: hidden
	display: flex
	flex-direction: column
	position: relative

.page
	flex: 1 0 auto
	flex-direction: column
	display: flex

.footer 
	flex: 0 0 auto

@keyframes fadeIn
	100%
		opacity: 1
		transform: none

